{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Affecter un Employé{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5><i class="fas fa-user-plus me-2"></i>Affecter un employé au chantier</h5>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <strong>Chantier :</strong> {{ chantier.nom }}<br>
                    <strong>Dates :</strong> {{ chantier.date_debut|date:"d/m/Y" }} - {{ chantier.date_fin|date:"d/m/Y" }}
                </div>
                
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-4">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check me-2"></i>Affecter
                        </button>
                        <a href="{% url 'detail_chantier' chantier.pk %}" class="btn btn-secondary">
                            <i class="fas fa-times me-2"></i>Annuler
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}